/* CSS styles */
#loading-screen {
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000f3; /* Background color */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    transition: opacity 1s;
}
#loading-screen p{
    font-size: 50px;
    color: #fff;
}


 @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
 
 
 @media only screen and (max-width: 1308px){

    .portfolio-container{
        max-width: 800px;
    }

    .dropdown-content {
        padding: 50px;
        max-width: 150%;
        overflow: auto;
        transition:0.3s ease;
    }
    .dropdown-content a {
        max-height: fit-content;
        max-width: fit-content;
        font-size: 50px;
        overflow: auto;
      }

    .modal-content {
      width: 100%;
    }
      
      .navbar-links{
        transition: all 0.6s ease-in-out;
        display: none;
      }
      .contact{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      

}
@media (min-width: 1307px) {
    .dropdown{
        display: none;
    }
  }

:root{
    --first-color: #303030;
    --second-color: rgb(44, 44, 44);
    --third-color: #f5f5f5;
    --dark-first-color: #ffffff;
    --dark-second-color: #ebebeb;


    --hover-color: rgba(48, 48, 48, 0.541);

    --box-shadow: 2px 2px 12px 2px rgba(0, 0, 0, 0.205);;

    --body-bg-img: url('Images/Background.jpg');
    --body-bg-img-dark: url('Images/background-dark.png');
    --body-background-color: #1a1a1a93;

    --small-font-size: 0.9em;
    --normal-font-size: 1em;
    --big-font-size: 1.3em;

    --scroll-bar-color: #4d4d4d;
    --scroll-thumb-color: #585a5e;
    --scroll-thumb-hover-color: #5f6069;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
   
}

html{
    scroll-behavior: smooth;
}


::-webkit-scrollbar {
    width: 10px;
  }
  
::-webkit-scrollbar-track {
    background: var(--scroll-bar-color); 
  }
   

  ::-webkit-scrollbar-thumb {
    background: var(--scroll-thumb-color); 
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background:var(--scroll-thumb-hover-color); 
  }


.section-title {
    font-size: 24px;
    color: rgb(255, 251, 251); 
    font-weight: bold;
    position: relative;
    z-index: 1; 
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 10px; 
    margin: 0; 
}

.toggle-checkbox {
    display: none; 
}

.toggle-button {
    width: 50px;
    height: 26px;
    background-color: #ccc; 
    display: block;
    border-radius: 13px;
    position: relative;
    cursor: pointer;
}

.toggle-button::before {
    
    content: '';
    width: 20px;
    height: 20px;
    background-color: #fff; 
    border-radius: 50%;
    position: absolute;
    top: 3px;
    left: 3px;
    transition: transform 0.3s ease; 
}
#dark-mode-toggle:checked + .toggle-button {
    background-color: #333; 
}


#dark-mode-toggle:checked + .toggle-button::before {
    transform: translateX(24px); 
}


.content {

    transition: all 0.3s ease; 
    min-height: calc(100vh - 100px); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;  
    flex-direction: column;
    display: flex;
    padding: 4rem 2rem;

}

body {
    color: var(--first-color);
    background-image: var(--body-bg-img); 
    transition:  0.3s ease;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; 
    min-height: 100vh; 
    
}
.search-container {
    position: relative;
    width: 300px;
}


.search-results {
    position: absolute;
    top: 100%;
    background-color: var(--body-background-color);
    border-radius: 5px;
    max-height: 200px;
    overflow-y: auto;
    display: none;
    right: 700px;
}

#results-list {
    flex-direction: column;
    list-style: none;
    padding: 0;
}

#results-list li a {
    text-decoration: none;
    display: block;
    padding: 10px;
}

#results-list li a:hover {
    background-color:var(--hover-color);
}

a{
    color: var(--first-color);
    transition:  0.3s ease;
}
ul li a {
    color: var(--dark-first-color);
    transition:  0.3s ease;
}

body.dark-mode {
    color: var(--third-color);
    background-image: var(--body-bg-img-dark); 
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; 
    min-height: 100vh; 
}

body.dark-mode a {
    color: var(--dark-first-color);
    transition:  0.3s ease;
}
body.dark-mode p {
    color: var(--dark-first-color);
    transition:  0.3s ease;
}

body.dark-mode ul li a {
    color: var(--third-color);
    transition:  0.3s ease;
}

header{

    z-index: 99999;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}



p {
    font-size: 24px;
    margin-top: 20px;
}

.home{

    position: relative;
    max-width: 1250px;
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;
    padding: 4rem 2rem;
    flex-direction: column;

}
.home .home-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.home-container .media-icons{
    display: flex;
    flex-direction: column;
    margin-right: 40px;
}
.home-container .media-icons a{
    color: var(--second-color);
    font-size: 1.5em;
    margin: 10px 0;
}

.home-container .media-icons a:hover{
    color: var(--hover-color);
    
}
.home-container .info h2{
    font-size: 4em;
    font-weight: 600;
    line-height: 70px;
    

}
.home-container .info h3{

    font-feature-settings: 1.3em;
    font-weight: 600;
}
.home-container .info p{
    
    font-size: var(--normal-font-size);
    max-width: 350px;

}
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 50px;
    
}
.btn{
    background: var(--second-color);
    color: #fff;
    font-size: var(--normal-font-size);
    font-weight: 500;
    display: inline-block;
    margin: 25px;
    padding: 20px 30px;
    letter-spacing: 1px;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    max-width: auto;
    max-height: auto;
}
.btn:hover{
    background: var(--hover-color);
}
.home-container .home-img{
    position: relative;

}

.home-container .home-img img{
    width: 80%;
    transform: translate(0 ,0);
    box-shadow: var(--box-shadow);

}

.fade-in {
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

main {
    
    flex-grow: 1; 
}

.discord-icon {
    position: relative;
    overflow: visible; 
    
}


.popup {
    position: absolute;
    bottom: -30px; 
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    opacity: 0; 
    transition: opacity 0.3s, bottom 0.3s; 
    max-width: fit-content;
}


.discord-icon:hover .popup {
    opacity: 1; 
    bottom: 10px; 
    transition: all 0.3s ease;  
}
.social-media {
    
    margin-left: 60px;
    display: flex;
    align-items: center;
    padding: 10px;
    border-width: fit-content;
    
}

.social-media a:hover{
    max-width: fit-content;
    display: flex;
    transition: all 0.1s ease;  
    background-color: #ffffff94; 
    border-radius: 50px;
    

}


.social-icon {
    background-color: #ffffff70; 
    border: 6px inset #ffffff;
    border-radius: 50px;
    margin-right: 50px; 
    margin-left: 50px;
}

.social-icon img {
    width: 64px; 
    height: 64px;
    display: block;
}


    .navbar {
        backdrop-filter: blur(20px);
        background-color: #1a1a1a93;
        padding: 0 20px;
        display: flex;
        position: relative;
        justify-content: space-between;
        align-items: center;
        font-size: 30px;
        font-style: italic;
        box-shadow: var(--box-shadow);
        margin-left: auto;
        margin-right: auto;
        height: calc(4rem + 1rem);
        transition: .6s ease;
    }
     
    .navbar-links ul {
        
        list-style-type: none;
        margin: 35px;
        padding: 0;
        display: flex;
        
    }
    
    .navbar-links ul li {
        
        margin-right: 50px;
    }
    
    .navbar-links ul li:last-child {
        
        margin-right: 0;
    }
    
    .navbar-links ul li a {
        
        text-decoration: none;
        font-weight: bold;
    }


    
    .navbar-links ul li a.active {
        transition: all 0.1s ease;  
        background-color: #ffffff1f;
        padding: 15px;
        border-radius: 5px;
        border-bottom: 2px solid rgb(255, 255, 255); 
    }
    

    .navbar-links ul li a:hover {
        transition: all 0.1s ease;  
        background-color: #ffffff34;
        padding: 15px;
        border-radius: 5px;
        border-bottom: 2px solid rgb(255, 255, 255); 
    }
   
    .logo-name {
        text-decoration-line: none;
        font-weight: bold;
        font-size: 28px;   

    }
  


    footer {
        background-color: #1a1a1a93;
        padding: 10px;
        text-align: center;
        box-shadow: var(--box-shadow);
        color: #ffffff; 
        width: 100%;
  
    }


    .contact{

        position: relative;
        padding: 4rem 2rem;


    }
    .contact .info{
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }

    .contact-container img {
        max-width: 100%;
        height: auto;
        display: block;
        margin: 20px auto; /* Add margin to center the images */
        max-width: fit-content;
    }
    
.ContactUs-Box {
    background-color: var(--body-background-color);
    border: 1px solid #ddd;
    padding: 40px;
    margin: 50px;
    border-radius: 20px;
    font-size: 18px;
    display: flex;
    box-shadow: var(--box-shadow);
   
}


.column img.scroll-fade {
    opacity: 0;
}


@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.column img.scroll-fade {
    animation: fade-in 0.5s; 
    animation-fill-mode: forwards;
}

.column:nth-child(1) img.scroll-fade {
    animation-delay: 0.5s;
}

.column:nth-child(2) img.scroll-fade {
    animation-delay: 1s;
}

.column:nth-child(3) img.scroll-fade {
    animation-delay: 1.5s;
}


.column {
    transition: all 0.6s ease;  
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    float: left;
}

.column:hover{
    transition: all 0.6s ease;   
    height: auto;
    width: auto;
    border-radius: 60px;
    zoom: 125%;
    opacity: 0.8;
}

.column img {
    flex-direction: row;
    display: flex;
    max-width: 500px;
    padding: 50px;
    max-width: 500px;
    transition: all 0.6s ease;  
    align-items: center;
    
}

.about{
    position: relative;
    max-width: 1250px;
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;
    padding: 4rem 2rem;
    flex-direction: column;
}

 .about-container{

    background-color: var(--body-background-color);
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    justify-content: space-between;
    width: 100%;
    height: 130%;
    padding: 50px;
    
}
.about-container .about-img{
    position: relative;
    margin-left: 50px;

}

.about-container .about-img img{
    width: 80%;
    transform: translate(0 ,0);
    box-shadow: var(--box-shadow);

}

.about-container .info h1{
    font-size: 4em;
    font-weight: 600;
    line-height: 70px;
    

}
.about-container .info h3{
    color: var(--third-color);
    font-feature-settings: 1.3em;
    font-weight: 600;
}
.about-container .info ul{
    color: var(--third-color);
    font-size: var(--normal-font-size);
    max-width: 350px;

}
.about-container .info li{
    padding: 10px;
    color: var(--third-color);
    font-size: var(--normal-font-size);
    max-width: 350px;

}

.portfolio-container {
    background-color: var(--body-background-color);
    display: flex;
    flex-direction:row;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    justify-content: space-between;
    width: 200%;
    padding: 50px;
    align-items: center; /* Center align the content */
    
}

.skills-list {
    list-style: none;
    padding: 0;
    width: 100%; 
    max-width: 300px; 
}

.skills-list li {
    display: flex;
    align-items: center;
}

.skill {
    display: flex;
    width: 60%; 
    justify-content: left;
    align-items: left;
}
.skill-name {
    display: absolute;
    padding-right: 5px;
    font-weight: bold;
    justify-content: space-between;
    align-items: left;
}

.skill-bar {
    flex: 1; 
    height: 20px;
    background-color: #f0f0f0;
    border-radius: 5px;
    overflow: hidden;
    
}

.skill-level {
    height: 100%;
    background-color: #007bff; 
    
}

.skill-tier {
    width: 100px; 
    
 
}

.Send-Message {
    flex: 1;
    background-color: var(--body-background-color);
    border: 1px solid #ddd;
    padding: 80px;
    margin: 50px;
    color: var(--third-color);
    font-size: 18px;
    box-shadow: var(--box-shadow);
    border-radius: 10px;
}

.Send-Message label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    
}

.Send-Message input[type="text"],
.Send-Message input[type="email"],
.Send-Message textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.Send-Message input[type="submit"] {
    background-color: #007bff;
    color: #ffffff8f;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.Send-Message input[type="submit"]:hover {
    background-color: #0056b3;
}


.Box{
    border: 2px solid #ddd;
    box-shadow: var(--box-shadow);
    transition: background-color 0.3s ease;
    background-color: #00000023;
    color: #ffffff8f;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
   
    max-height: 500px;
    margin: 50px;
}

.image-container {
    align-items: center;
    padding: 4rem 2rem;
    flex: 1;
    text-align: right; 
    border-radius: 80px;
}

.image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    border: 1px inset rgba(0, 0, 0, 0.336);
}




.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.9); 
  }
  

  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  

  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  

  .modal-content, #caption {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
  }
  
  @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }
  
 
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  
  .navbar-links input[type=text] {
    padding: 5px;
    font-size: 17px;
    border: none;
    border-radius: 16px;
    background-color: #0e0e0e00;
    border: 1px inset rgba(0, 0, 0, 0.336);

  }
  .navbar-links button {
    background-color: #ffffff00;
    font-size: 18px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    transform: translateX(-30px);
    border-radius: 50px;
   
    
  }
  .navbar-links button:hover{
    color: #ffffff8f;
  }

 .portfolio-icons{
    font-size: 35px;
 }
  
  .fa-solid:hover {
    transition: all 0.1s ease;
    cursor: pointer;
    font-size: 110%;
  }

  .fa-brands:hover{
    transition: all 0.1s ease;
    cursor: pointer;
    font-size: 110%;
  }

  .dropdown {
    position: relative;
    transition: right 0.5s ease;
  }
  
  .dropdown-content {

    top: 100%;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
    display: block !important;
    transform: translateX(-500px);
    display: none;
    max-height: 0;
    position: fixed;
    background-color: var(--body-background-color);
    overflow-y: auto;
    min-height: calc(110vh);

  }

  .dropdown-content.show{
    transform: scale(1);
    left: 0;
    display: block;
    max-height: fit-content;

  }
  
  .dropdown-content a {
    transition: right 0.6s ease-in-out;
    text-decoration: none;
    display: block;
    padding-top: 10px;
  }
  .dropdown-content a.active {
    transition: right 0.6s ease-in-out;
    background-color: #ffffff1f;
    padding: 10px;
    border-radius: 5px;
    border-bottom: 2px solid rgb(255, 255, 255);
    
  }
.dropdown-content input[type=text]{
    padding: 5px;
    font-size: 17px;
    border: none;
    border-radius: 16px;
    background-color: #0e0e0e00;
    border: 1px inset rgba(0, 0, 0, 0.336);
    margin: 10px;
}
  .dropdown-content a:hover {
    background-color: var(--hover-color);
  }
  .show {display: block;}